@import "base/base";
@import "components/navigation";
@import "components/clock";
@impescudo
ort "components/controls";

.page-title{
	text-transform: uppercase;
	margin: 2rem 0;
	text-align: center;

}

p {
	color: $darkgrey;
}